@import url('https://fonts.googleapis.com/css?family=Arimo:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

html,
body {
  /* min-height: 100vh; */
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* HIDE SCROLLBAR FOR FIREFOX ONLY! NEED TO ADD MORE CODE FOR OHTER BROWSERS */
  /* scrollbar-width: none; */
}

.main-container {
  min-height: calc(100vh - 30px); /* 100vh - bottom padding */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 30px;
}


header {
  height: 70px;
  width: 100%;
  line-height: 70px;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  font-size: 1.25em;
  transition: .2s;
  z-index: 100;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header ul li {
  display: inline;
  padding: 0 15px;
}

header li span:hover {
  color: rgb(255, 255, 255, .7);
  transition: .25s;
  transition-timing-function: ease;
  cursor: pointer;
}


/* Styles my name */
#home {
  font-size: 1.75em;
  padding-left: 30px;
  font-weight: bold;
  float: left;
}

#home span::after {
  content: "Adam M. Kuczynski";
}

#mobile-menu {
  display: none;
}

#mobile-home {
  display: none;
}

/* Float navbar items to the right w/o reversing order */
.navbar {
  float: right;
  padding-right: 25px;
}

/* Set display none to tabs for pageload */
/* (prevents tabs showing up briefly before JS executes) */
.tabcontent {
  animation: fade 1s; /* Fading effect takes 1 second */
}

/* For fade animation between tabs */
/* Go from zero to full opacity */
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  display: table;
}

.footer-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

svg {
  height: 25px;
  margin: 15px auto;
  padding: 0 2px;
}

svg:hover {
  cursor: pointer;
}

svg:hover path {
  opacity: .7;
  transition: .25s;
}

.middle-page {
  z-index: 99;
  min-height: calc(100vh - 70px - 60px - 50px);
  margin: 0 15%;
  padding-bottom: 50px;
  padding-top: 90px;
}

.middle-page p {
  display: block;
  font-size: 2em;
  color: rgb(83, 83, 83);
  line-height: 1.25;
  text-align: center;
}

.image-container {
  padding-top: 30px;
}

#Projects .image-container {
  float: left;
}

#profile-pic {
  height: 22.5vh;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#full-name {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-weight: bolder;
  letter-spacing: .05em;
  margin-bottom: 5px;
}

#full-name::after {
  content: "Adam Kuczynski";
}

#subheader {
  font-family: 'Arimo', sans-serif;
  font-size: 1.35em;
  margin-top: 0;
  letter-spacing: .05em;
}

.subsubheader {
  font-size: 1em;
  display: flex;
  justify-content: center;
  float: left;
  height: 100%;
  width: 50%;
}

#interests {
  margin-left: 30%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

#interests ul {
  list-style-image: url("../images/icons/atom_24x24.png");
}

#interests ul li {
  padding: 1px 0;
}

#interests span {
  top: -15px;
  position: relative;
  margin: 5px 0;
  font-size: 1.25em;
  font-weight: 500;
}

#education {
  margin-right: 30%;
}

#education ul {
  list-style-image: url('../images/icons/graduate-cap_24x24.png');
}

#education ul li {
  padding: 1px 0;
}

#education span {
  top: -12px;
  position: relative;
  display: block;
  padding-left: 5px;
}

.degree {
  font-size: 1.3em;
}

.school {
  font-size: 1em;
  color: rgb(0, 0, 0, .7);
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(83, 83, 83, .7);
}

#Research ul {
  list-style-type: none;
}

#Research h2 {
  text-align: left;
}


.title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  display: block;
  font-weight: bold;
  letter-spacing: .05em;
  padding-bottom: 10px;
}

.title a:hover {
  color: rgb(83, 83, 83, .9);
  transition: .25s;
  transition-timing-function: ease;
}

.journal,
.year {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .1em;
  color: rgb(83, 83, 83);
  padding-bottom: 10px;
}

.journal::after {
  content: ","
}

.author {
  padding-top: 5px;
  display: block;
  font-style: italic;
  font-family: 'Noto Serif', serif;
  padding-bottom: 10px;
  letter-spacing: .05em;
}

.abstract {
  display: block;
  padding-top: 10px;
  line-height: 1.5em;
  font-family: 'Noto Serif', serif;
  padding-bottom: 50px;
  text-align: justify;
}

/* Removes padding from last abstract on research page */
#Research ul li:last-of-type .abstract {
  padding-bottom: 0px;
}


#CV {
  margin: 0;
}

#CV object {
  margin: 0;
  padding: 0;
}

#cv-mobile {
  display: none;
}

/**************************
Current Projects page
***************************/

#Projects div {
  margin: 0 15%;
  padding: 10px;
  margin-top: 15px;
}

#Projects img {
  height: 65px;
  width: 65px;
  margin: auto;
  padding-right: 7.5px;
  float:left;
}


#Projects h2 {
  line-height: 65px;
  text-align: left;
}

#Projects p {
  font-size: 1.15em;
  text-align: left;
}

#Projects a {
  font-weight: bold;
}

#Projects h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

#Projects td {
  padding: 0;
}


/**************************
Clinical page
***************************/
#Clinical h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}


#Clinical div {
  font-size: 1.25em;
  margin: 0 15%;
  text-align: left;
  margin-bottom: 20px;
}


#clinical-picture {
  width: 262px;
  height: 238px;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}

#clinical-email {
  height: 50px;
  width: 200px;
  line-height: 50px;
  margin: auto !important;
  margin-top: 50px !important;
  text-align: center !important;
  color: rgb(255, 255, 255);
}

#Clinical ul {
  list-style-type: square;
}


#ConfidentialityWarning {
  display: none;
  margin-top: 5px !important;
  font-size: .75em !important;
  border: 2px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0, .25);
  border-radius: 5px;
  padding: 3px;
}


.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


}
